<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout :: main-layout(~{::section}, ~{::title}, null)}">
<head>
    <title>IDEA_VOLTEX | Login</title>
</head>
<body>

<section>
    <div class="login-container">
        <h2 style="margin-bottom: 25px;">Secure Login</h2>

        <form th:action="@{/login}" method="post">

            <input type="text" name="userId" placeholder="User ID / Sentinel ID" required>

            <input type="password" name="password" placeholder="Access Key" required>

            <button type="submit">Initialize Session</button>

            <p style="font-size: 0.85rem; margin-top: 20px; color: #94a3b8;">
                Don't have an account?
                <a th:href="@{/signup}" style="color: #3b82f6; text-decoration: none;">Sign Up</a>
            </p>
        </form>


        <div th:if="${param.error}" style="color: #ff4b5c; font-size: 13px; margin-top: 15px;">
            Authentication Failed: Invalid Access Key.
        </div>
    </div>
</section>

</body>
</html>